// :root{
//     --primary-bg-color: #FFFEC4;
//     --secondary-bg-color: #36bab4;
//     --third-darker-color: #196e6a; 
//     --forth-light-bg-color: #ebfcfc;
//     --font-primary-color:#393E46;
//     --underline-color: #E7E7E7;
//     --text-shadow-color: #9F8772;
//     --primary-font: 'IBM Plex Sans', sans-serif;
// }


$primary-bg-color: #FFFEC4;
$secondary-bg-color: #36bab4;
$third-darker-color: #196e6a; 
$forth-light-bg-color: #ebfcfc;
$font-primary-color:#393E46;
$underline-color: #E7E7E7;
$text-shadow-color: #9F8772;
$primary-font: 'IBM Plex Sans', sans-serif;

body{
    background-color: $primary-bg-color;
    font-family: $primary-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    color: $font-primary-color;

}

.title{
  
    color: $font-primary-color;
    text-shadow: 1px 1px 3px $text-shadow-color;
}

.container{
    background-color: white;
    width: 100%;
    max-width: 900px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    position: relative;
}

.active_level{
    margin: 16px auto 0;
    font-size: 1.5rem;
    color: $third-darker-color;
    font-weight: bold;
  }

.tab{
    margin: 2px 0 30px 0;
    display:flex;
    width: 100%;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px;
    color:$secondary-bg-color; 

    label{
        font-size: 1.5rem;
    }
}



.line{
    position: absolute;
    top: 98px;
    width: 100%;
    height: 3px;
    background-color: $underline-color
}


.toggle_wrapper {
  display: flex;
  align-items: center;
  margin: 10px auto; }

.img {
  position: relative;
  img{
    height: 150px;
    border-radius: 50%;
    margin: 10px; 
    opacity: 0.6;
  }
  .img_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    font-weight: bold;
    font-size: 1.8rem;
    color: $secondary-bg-color;
    text-shadow: 2px 2px 11px  black;
  }
}

.toggle input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden; }

.toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 150px;
  height: 60px;
  background: #f0efa9;
  display: block;
  border-radius: 100px;
  position: relative; }

.toggle label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 90px;
}

.toggle input:checked + label {
  background: #36bab4; }

.toggle input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%); }

.toggle label:active:after {
  width: 130px; } 



.weight{
    background-color: $forth-light-bg-color;
    border-radius: 10px;
    padding: 32px;
    width: 50%;
    margin: auto;

    label{
        text-align: center;
        color: $font-primary-color;
        font-size: 1.5rem;
        font-weight: 700;
        display: block;
    }

    input{
        display: block;
        margin: 16px auto;
        font-weight: 700;
        text-align: center;
        transform: scale(1.8);
    }

}

input[type='number']::placeholder{
    text-align: center;
}



.desc{
    font-weight: 700;
    color: $font-primary-color;
    line-height: 1.5rem;
    text-align: center
}

.card_wrapper .card .top_section {
  padding: 8px; }
  .card_wrapper .card .top_section p {
    margin: 4px 0; }
.card_wrapper .card .goal {
  text-transform: uppercase; 
font-size: 1.5rem;}
.card_wrapper .card .goal_level {
  font-size: 2rem;
  color: #36bab4; }


.card_wrapper{
    margin: 0 auto;
    display: flex;
    
    .card{  
        background-color: #ebfcfc;
        border-radius: 10px;
        margin: 16px;
        padding: 16px 32px;
        box-shadow: 0px 2px 12px 1px black;
        text-align: center;
        font-weight: bold;

        .top_section{
            padding: 8px;

            p{
                margin: 4px 0;
            }
        }

        .goal{
            text-transform: uppercase;
            span{
              display: none;
            }
        }    

        .goal_level{
            font-size: 1.5rem;
            color: $secondary-bg-color;
        }

        hr{
            border: 1px solid black;
            border-radius: 2px;
        }

        .total{
            background-color: white;
            font-size: 1.5rem;
            color: $secondary-bg-color;
            font-weight: bold;
        }
    }
}


@media only screen and (max-width:750px){
    .card{ width: 100%;}
  
    .card_wrapper{flex-wrap: wrap;} 
  }
  
  @media only screen and (max-width:600px){
    .body{padding: 0 16px;}
    .title{ 
      font-size: 1.5rem;
      text-align: center;
    }
    .tab{
      padding: 5px;
    }
    .tab label{
      font-size: 1rem;
    }
    .container{padding: 0 16px;}
  
    .line{
      width: 90%;
    }
    .toggle_wrapper img{
      height: 40px;
    }

    .img_div{
      font-size: 0.1rem;
    }
  
    .weight label{
      font-size: 1rem;
    }
    .weight input{
      width: 70%;
    }
  }